<h1>Editing user upload</h1>

<%= render "form", user_upload: @user_upload %>

<br>

<div>
  <%= link_to "Show this user upload", @user_upload %> |
  <%= link_to "Back to user uploads", user_uploads_path %>
</div>
